@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{  
    margin: 0;
    padding: 0;
    /* margin: 0; */
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;

}
p{
    color: rgba(114, 114, 114, 1);
    font-size: 1em;
}



/* Shared style items */
.flex-display{
    display: flex;

}
.navber, .banner{
    max-width: 930px;
    margin: 0 auto;


}
.button{
    margin-bottom: 30px;
    padding: 18px 23px;
    border: none;
    border-radius: 8px;
    background-color: rgb(236, 118, 21);
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    

}
.heading3{
    font-size: 2.7em;
    font-weight: 700;

}
.heading1{
    font-size: 3em;
    font-weight: bold;


}
.h4-styles{


}
.dark1{
    color: rgba(19, 19, 19, 1);
    font-weight: 500;
    font-size: 2em;


}
.dark3{
    font-size: 2em;
    font-weight: 500;
    color: rgba(114, 114, 114, 1);

}
.orange{
    color: rgba(255, 144, 14, 1);
    font-size: 2em;
    font-weight: 700;

}
.years10-experience{
    color: white;
}


/* The designs of the Header Area */


.header{
    background-color: rgba(255, 144, 14, 0.1);
    /* padding-bottom: 50px; */
    
}
.navber{

    justify-content: space-between;
    align-items: center;

    
    
}
.nav-items{
    list-style: none;

}
.nav-list{
    margin-right: 30px;
    font-size: 1.3em;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    


}
.header1{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;


}
.heading1{
    margin: 0;



}
/* .header2{
    width: 100%;


} */
.banner-img-width{
    width: 100%;

}

/* Main Area, it's divided into 3 parts*/

  
/* Min-Area1 */

.main-area{
    max-width: 950px;
    margin: 80px auto;


}
.main-area1{
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    
  


}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3em;
 
   



}
.main-area1-images-size{
    width: 225px;
    height: 225px;




}
.team-works{
    /* max-width: 400px; */


}
.margin-top-bottom{
    margin-bottom: 20px;

}

/* Main Area Design */

.main-area2{
    margin-top: 80px;
    max-width: 950px;
    background-image: url(images/architect.png);
    background-size:50%;
    background-position: top right;
    background-repeat: no-repeat;

}
.main-area2-1{

}
.area1{


}
#color-black{
    color: black;
}

.width1{
    max-width: 308px;
    margin-bottom: 15px;
    margin-left: 10px;


}
.width2{
    max-width: 386px;
    margin-bottom: 15px;

}

.boxes-4{



}
.box{
    max-width: 386px;
    max-height: 112px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
    padding: 15px 10px;
   


}
.area2{


}

#area3{
    text-align: center;
    background-color: rgba(255, 144, 14, 1);
    max-width: 225px;
    max-height: 112px;
    background-color: rgba(255, 144, 14, 1);
    padding: 30px 15px;
    border-radius: 8px;

}
#flex-display{
    align-items: flex-end;
    gap: 30px;


}















/* This area is only intended for responsive design */

/* Responsive for Mobile */


@media screen and (max-width: 576px){
    .flex-display{
        flex-direction: column;
    
    }
    .navber{
        padding: 30px 0;
        gap: 20px;
        justify-content: space-evenly;
    }
    /* .header1{
        width: 100%;

    } */
    .heading1{
        font-size: 2em;
    }
    .banner{
        margin-top: 20px;
    }

    /* Main Area1 */
    .team-images{
        grid-template-columns: repeat(1, 1fr);


    }
    .main-area1-images-size{
        width: 100%;
        height: 100%;
        

    }
    .team-works{
        margin: auto 20px;
        text-align: center;

    }
    .dark3{
        font-size: 1.3em;

    }
    
    .width1{
        margin: 15px auto;
    }
    .main-area2{
        background-image: none;
        padding: 10px;
        margin-top: 40px;

    }
    #flex-display{
        flex-direction: column;
        align-items: center;
    }

    
}
